body { 
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.vollkorn {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.verif-container  {
    background-color: #d9d9d9;
    border-radius: 5%;
    padding: 20px; /* Add padding for better spacing */
    width: 40%; /* Adjust width as needed */
    height: 50%; /* Adjust height as needed */
}

.verif-container img {
    display: block;
    width: 250px; /* Increase image width */
    height: 250px; /* Maintain aspect ratio */
    margin: 0 auto 20px; /* Center the image and add margin below */
    margin-bottom: 7%;
}

.verif-container h2 {
    margin-top: 30px;
    font-family: "Vollkorn", serif;
    font-size: 30px;
    color: #7f7f7f;
    text-align: center; /* Center align text */
    margin: 0; /* Reset margin */
}

.verif-container h3 {
    font-family: "Vollkorn", serif;
    font-size: 15px;
    color: #7f7f7f;
    text-align: center; /* Center align text */
    margin: 0; /* Reset margin */
}

.button-container {
    text-align: center; /* Center align the button */
    margin-top: 20px; /* Add margin on top */
}

.back-to-home-btn {
    padding: 10px 20px; /* Add padding to the button */
    background-color: #7f7f7f; /* Blue color */
    color: white; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.back-to-home-btn:hover {
    background-color: #4aad58;; /* Darker blue on hover */
}